@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Global style */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

/* Heading */
.heading {
    
}

/* LAYOUT */
.game-area {
    position: relative;
    width: 70%;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.player {
    flex: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  /* ELEMENTS */
.name {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.score {
    font-size: 5rem;
    color: #c7365f;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 70%;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #ddd;
}

.current-score {
    font-size: 3rem;
}

.dice {
    position: absolute;
    top: 16.5rem;
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn {
    position: absolute;
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn-new {
    top: 4rem;
  }

.btn-roll {
    top: 41.3rem;
  }

.btn-hold {
    top: 48.1rem;
}

.btn-instruction {
    top: 55rem;
}

.btn:active {
    transform: translate(5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.player-active {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    justify-content: center;
}

.hidden {
    display: none;
}

.winner {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    justify-content: center;
}

.winner .name {
    color: #c7365f
}

.instruction {
    position: absolute;
    background-color: aqua;
    height: 100%;
    width: 60%;
}


/* For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    .dice {
        top: 9.5rem;
    }

    .game-area {
        width: 90%;
    }

    .btn:active {
        transform: translate(3px);
    }
}